
<%= render partial: "answer_question", locals: {question: @random_question}%>






<script>
$(".question-importance").each(function() {
    var radios = $(this).find(":radio").hide();
    $("<div></div>").slider({
      min: parseInt(radios.first().val(), 10),
      max: parseInt(radios.last().val(), 10),
      slide: function(event, ui) {
        radios.filter("[value=" + ui.value + "]").click();
      }
    }).appendTo(this);
});

$("button").click(function(e) {
  e.preventDefault();
    alert($(":radio[name='all_acceptable_response[importance]']:checked").val());
});



</script>



<hr>

<h1> Answered Questions</h1>
<% if @answered_questions.length == 0 %>

"You have not answered any questions."
<% else %>



<% @answered_questions.each do |question| %>
  <div class="question-container" data-id="<%= question.question_id %>">
    <%= question.question_text %>
    <br>
    <div class="response-show">
      <a href="#" class="response-answer-text toggle-edit"><%= question.answer_text %></a>
    </div>

    <div class="response-edit">
      <%= render partial: "edit_response", locals: {question: Question.includes([:answer_choices, :acceptable_responses]).where(:id => question.question_id).first} %>
    </div>


</div>
<% end %>
<% end %>



<script>
$('.question-container').on("click", '.toggle-edit', function(event) {
  event.preventDefault();
  var $trigger = $(this);
  var $scope = $trigger.closest("div");
  var $question = $scope.closest(".question-container");
  $question.addClass("edit-on");
});

$('.response-edit').on("submit", "form", function(event) {
  event.preventDefault();

  var formData = $(this).serializeJSON();
  var $question = $(this).closest('.question-container')
  var question_id = $question.attr("data-id")

  $.ajax({
          url: "/questions/" + question_id + "/update_answer",
          type: "PUT",
          data: formData,
          dataType: "json",
          success: function (answer_choice) {
            var $answerText = $question.children('.response-show').children('.response-answer-text')
            $answerText.html(answer_choice.text);
            $('.question-container').removeClass("edit-on");
          },
          error: function(response) {
            console.log("error");
            console.log(response);
          }
        });



})

</script>