<div class="content-4of7">

    <% profile = Profile.find_by_user_id(@other_user) %>
  <% @messages.each do |message| %>



  <ul class="objects-list">

    <li class="object-item group">
      <div class="object-avatar">
        <a href="<%= profile_url(profile) %>"><%= display_photo(profile, :avatar) %></a>
      </div>
      <section class="object-content">

          <a class="username" href="#"><% author = message.is_sent? ? current_user.username : @other_username %>
        </a>
        <div class="status-body">
          <b><%= author %></b>: <%= message.body %>

        </div>

        <div class="status-timestamp">
          <%#= status.created_at %>
        </div>
      </section>
    </li>
  </ul>

  <% end %>

      <%= render "form", user_id: params[:user_id] %>


</div>

<div class="content-2of7">
  <%= render partial: "shared/suggested_users" %>
</div>