<% content_for :secondary_header do %>
  <h1 class="sec-header-text">
    <a href="#">Kate Upton</a>
  </h1>
  <nav class="sec-left-nav">
    <ul class="">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Questions</a></li>
    </ul>
  </nav>

  <nav class="sec-right-nav">
    <ul class="group">
      <li> <a href="#">Bee-Bop</a></li>
    <li><a href="#">Message</a></li>
  </ul>
  </nav>

<% end %>

<%# fdsfasifoadsiojaiofjasdiofaijsofsaoifaosifjiosdasiofdiosfajsiofdsijofajosdifsajiof %>















<div class="content-4-of-7 ">
  <%= "You have not received any messages yet" if @messages.length == 0 %>

  <% @messages.each do |message| %>

  <ul class="objects-list">
    <li class="object-item group">
      <div class="object-avatar">

      </div>
      <section class="object-content">
        <a class="username" href="<%= conversation_user_messages_url(message.recipient_id) %>"><%= message.recipient_username %></a>
        <div class="status-body">
          <%= message.body %> <%= "(Sent by me)" if message.is_sent == "t" %>

        </div>

        <div class="status-timestamp">
          <%= message.sent_date %>
        </div>
      </section>
    </li>
  </ul>
  <% end %>
</div>

<div class="content-3of7">
Inbox<br>
Sent
</div>