<%= "You have not received any messages yet" if @messages.length == 0 %>

<% @messages.each do |message| %>
<p>
<b><a href="<%= conversation_user_messages_url(message.recipient_id) %>">Message with <%= message.recipient_username %></a>: </b><%= message.body %> <%= "(Sent by me)" if message.is_sent == "t" %>
<br>
<%= message.sent_date %><br>

</p>




<% end %>

