

Username: <%= @profile.user.username %>
<br>

<% ["sex", "sexual_orientation", "body_type", "smokes", "drinks", "drugs", "religion", "sign", "education", "job", "offspring", "pets", "description", "likes"].each do |descriptor| %>

<%= descriptor.capitalize %>: <%= (@profile[descriptor].nil?) ? "--" : @profile[descriptor] %><br>



<% end %>

<% if current_user.likes?(@profile.user) %>
	<% if @profile.user.likes?(current_user) %>
	<b> You guys both like each other!</b>
	<% else %>
	<b> You've liked this user already. Let's hope they like you back. </b>
	<% end %>
<% else %>
<br>
<%= button_to "Like User", like_user_url(@profile.user_id), method: :post %>

<% end %>
<%#= button_to("Add WorkRequest", new_work_request_path(:article_id => @article.id), :action => "new", :method => :get)%>

<br>

<%= link_to "Message User", new_user_message_url(@profile.user_id) %>

<br>

Questions:
<%= "COUNT: #{@responses.count}" %>
<% @responses.each do |response| %>

<p>
<b><%= response.question_text %></b><br>

<% if response.current_user_answer_text.nil? %>
<%= link_to "Please answer this question to see their response.", question_url(response.question_id) %>
fdsfds
<% else %>
Their answer: <%= response.other_user_answer_text %><br>
Your answer: <%= response.current_user_answer_text %>
<% end %>
</p>


<% end %>
<br>


<!-- questions.id AS question_id,
    questions.text AS question_text,
    other_user_answer_choices.text AS other_user_answer_text,
    other_user_answer_choices.id AS other_user_answer_id,
    current_user_answer_choices.text AS current_user_answer_text,
    current_user_answer_choices.id AS current_user_answer_id -->

