<% content_for :secondary_header do %>
  <h1 class="sec-header-text">
    <a href="#"><%= @profile.user.username %></a>
  </h1>
  <nav class="sec-left-nav">
    <ul class="">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Questions</a></li>
    </ul>
  </nav>

  <nav class="sec-right-nav">
    <ul class="group">
      <li> <a href="#">LIKE</a></li>
      <li> <a href="#">DISLIKE</a></li>
    <li><a href="#" class="message">Message</a></li>
  </ul>
  </nav>


<% end %>

<!-- yield head -->

<div class="content-3of7">
<%= image_tag(@profile.big_photo.url, :class => "big-ass-photo") if @profile.big_photo.exists? %>
</div>

<div class="content-4of7" style="background-color: #fff">


  <h1 class="username">
    <%= @profile.user.username %>
  </h1>

  <span class="profile-field">
    <span class="owner-can-modify" id="age">
      <%= age(@profile.birthday) %>
    </span>
    <input type="date"
      class="form-input"
        name="profile[birthday]"
          value="<%= @profile.birthday %>">
  </span>

  | <span class="profile-field">
    <span class="owner-can-modify">
      <%= PROFILE_DETAILS["sexual_orientation"][@profile["sexual_orientation"]] %>
    </span>
    <select class="form-input" name="profile[sexual_orientation]">
      <option disabled selected>Choose New</option>
       <% PROFILE_DETAILS["sexual_orientation"].each do |k, v| %>
         <option
           value="<%= k %>">
             <%= v %>
         </option>
       <% end %>
    </select>
  </span>

  | <span class="profile-field">
    <span class="owner-can-modify" id="sex">
      <%= @profile["sex"] %>
    </span>
    <select class="form-input" name="profile[sex]">
      <option disabled selected>Choose New</option>
       <% PROFILE_DETAILS["sex"].each do |k, _| %>
         <option
           value="<%= k %>">
             <%= k %>
         </option>
       <% end %>
    </select>
  </span>

  | <span class="profile-field">
    <span class="owner-can-modify" id="city">
      <%= @profile.city %>
     </span>
     <input type="text" class="form-input"
         name="profile[zip_code]"
           value="<%= @profile.zip_code %>">
  </span>

   <br>

  <% if @rating_status.nil? %>
    <div class="ratings">
      <h2> User is hot.</h2>

      <% ["true", "false"].each do |text| %>
        <form action="<%= ratings_url %>" method="post" class="rating-form">
          <input type="hidden" name="rating[ratee_id]" value="<%= @profile.user_id %>">
            <%= auth_token_input %>
            <input type="hidden" name="rating[likes]" value="<%= text %>">
            <input type="submit" value="<%= text %>">
        </form>

    <% end %>
        </div>
  <% elsif @rating_status %>
     You guys both like each other!
  <% else  %>
     You have already rated this user.
  <% end %>

   <script>
   $(document).ready(function() {
     $('.ratings').on('submit', 'form', function(e) {
       e.preventDefault();
       var formData = $(this).serializeJSON();

       $.ajax({
         url: "<%= ratings_url %>",
         type: "POST",
         data: formData,
         dataType: "json",
         success: function(r) {
           if (r.is_mutual) {
             //if its mutual, display a congrats screen.
             //on keyboard strike of YES or NO. just display the symbol big and move.
           } else {
             //rating stored.
           };
           console.log("Yay");
           console.log(r);
         },
         error: function(r) {
           alert("Error");
           console.log(r);
         }
       });

     });
   });
   </script>


  <% unless @is_current_user_profile %>
    <% percentages = current_user.calculate_percentages(@profile.user) %>
    <%= print_percentages(percentages) %>
  <% end %>
  <br>

  <%= image_tag(@profile.big_photo.url, :class => "photo-thumbnail") if @profile
    .big_photo.exists? %>
  <%= image_tag(@profile.big_photo.url, :class => "photo-thumbnail") if
  @profile.big_photo.exists? %>
  <br>


  <h2>Bio</h2>
  <div class="profile-field">
    <span class="owner-can-modify" id="description">
      <%= @profile.description %>
    </span>
    <textarea class="form-input" name="profile[description]"></textarea>
  </div>

  <h2>Loves</h2>
  <%= @profile["likes"] %>

  <h2> Details</h2>
  <table class="profile-stats">
    <% TABULAR_DETAILS.keys.each do |key| %>
    <tr>
      <th><%= key.gsub(/_/," ").capitalize %></th>
      <td>
      <div class="profile-field">
      <span class="owner-can-modify" id="<%= key %>">
        <%= unless @profile[key].nil?
          PROFILE_DETAILS[key][@profile[key]]
        else
          "-" end %>
          </span>
          <select class="form-input" name="profile[<%= key %>]">
          <option disabled selected>Choose new</option>
          <% PROFILE_DETAILS[key].each do |k, v| %>
            <option
              value="<%= k %>">
                <%= v %>
            </option>
          <% end %>
          </select>
      </div>
      </td>
    </tr>
    <% end %>
  </table>




<% if @is_current_user_profile %>
  <script type="text/javascript">
        function calculateAge(birthdayString) {
          var birthdate = new Date(birthdayString);
          var cur = new Date();
          var diff = cur-birthdate; // This is the difference in milliseconds
          var age = Math.floor(diff/31536000000); // Divide by 1000*60*60*24*365
          return age;
        };
        $(document).ready(function() {
          $('.profile-field').on('click', '.owner-can-modify', function(e) {
            var $profileText = $(this);
            var $profileField = $(this).closest('.profile-field');
            var $input = $profileField.find('.form-input');
            if ($input.is('textarea')) {
              $input.html($(this).html());
            };
            //regular text input too.
            $profileField.addClass('modifying');
          });
          $('.profile-field').on('blur', '.form-input', function(e) {
          var $input = $(this);
          var $profileField = $input.closest('.profile-field');
          var $profileText = $profileField.find('.owner-can-modify');
          var formData = $(this).serializeJSON();

          var newValue;
          if ($input.is('select')) {
            newValue = this.options[e.target.selectedIndex].text;
            if (newValue === "Choose new") {
              $profileField.removeClass('modifying');
              return;
            };
          } else {
            newValue = $input.val();
          };
          // var newValue = $(this).;

          //if its not a select with text Choose New
          $.ajax({
            url: "<%= profile_url(@profile.id) %>",
            type: "PUT",
            data: formData,
            dataType: "json",
            success: function(r) {
              if ($profileText.is('#age')) {
                newValue = calculateAge(r.birthday);
              } else if ($profileText.is('#city')) {
                newValue = r["city"] //because we change zip.
              }
              alert("Great!");
              $profileText.html(newValue);
              $profileField.removeClass('modifying');
            },
            error: function(r) {
              alert("Error");
            }
          });
          });
        });
  </script>
<% else %>
  <script>
  $(document).ready(function() {

    $('.send-message').on('submit',function(event) {
      event.preventDefault();

      var formData = $(this).serializeJSON();
      console.log("<%= user_messages_url(@profile.user.id) %>");
      console.log("Right before ajax call");
      console.log(formData);
      console.log(this);
      $.ajax({
              url: "<%= user_messages_url(@profile.user.id) %>", //will cause trouble?
              type: "POST",
              data: formData,
              dataType: "json",
              success: function (response) {
                console.log(response);
                console.log("Your callback here!");
                $('.hide-container').toggleClass("unhide");
              },
              error: function(response) {
                console.log("error");
                console.log(response);
              }
            });



    });


    $( ".message" ).click(function(event) {
      event.preventDefault();
      $('.hide-container').toggleClass("unhide");
    });
  });
  </script>

  <script>
  $( ".send-message" ).draggable({
    containment: $('content'),
    stop: function(event, ui) {
      console.log(event);
      console.log(ui);
    }
  });
  </script>
<% end %>

<h2>Questions:</h2>

<% if @is_current_user_profile %>
  Need to do for current user!!

<% else %>

<%= "This person has not answered any questions." if @other_user_responses.length == 0 %>

<% @other_user_responses.each do |other_response| %>
<p>
<%= other_response.question_text %><br>

<% current_user_response = find_response(other_response.question_id, @current_user_responses) %>

<% if current_user_response.nil? %>

Answer question <%= other_response.question_id %> to see their answer.

<% else %>


<%= (@profile["sex"] == "Male") ? "His" : "Her" %> response: <span class="<%= "unacceptable-resp" if is_unacceptable?(other_response, @current_user_acceptables) %>"><%= other_response.answer_text%> </span>
<br>
Your response:

<span class="<%= "unacceptable-resp" if is_unacceptable?(current_user_response, @other_user_acceptables) %>"><%= current_user_response.answer_text %></span>

<% end %>

<% end %>

<% end %>

<div class="hide-container">

<form class="send-message">
  <%= auth_token_input %>
  <textarea name="message[body]">Type some stuff here</textarea>
  <input type="submit" class="submit-message" value="Submit or close">

</form>

</div>

<br>

</div>