

Username: <%= @profile.user.username %>
<br>

<% ["sex", "sexual_orientation", "body_type", "smokes", "drinks", "drugs", "religion", "sign", "education", "job", "offspring", "pets", "description", "likes"].each do |descriptor| %>

<%= descriptor.capitalize %>: <%= (@profile[descriptor].nil?) ? "--" : @profile[descriptor] %><br>



<% end %>

<% if current_user.likes?(@profile.user) %>
	<% if @profile.user.likes?(current_user) %>
	<b> You guys both like each other!</b>
	<% else %>
	<b> You've liked this user already. Let's hope they like you back. </b>
	<% end %>
<% else %>
<br>
<%= button_to "Like User", like_user_url(@profile.user_id), method: :post %>

<% end %>
<%#= button_to("Add WorkRequest", new_work_request_path(:article_id => @article.id), :action => "new", :method => :get)%>

<br>

<%= link_to "Message User", new_user_message_url(@profile.user_id) %>

<br>

Questions:
<br>

<% @responses.each do |response| %>

<%= response.question_text %><br>
	<% if response.cur_user_answer.nil? %>
	<a href="<%= question_url(response.question_id) %>">
		Answer this question to see what his/her answer is.
		</a>
		<br>
	<% else %>
		You answered: <%= response.cur_user_answer %><br>
		Your lover answered: <%= response.other_answer %><br>
	<% end %>

<br>
<% end %>


<!-- @responses = Response.find_by_sql ["

  SELECT other_answer_choices.text AS other_answer, cur_user_answer_choices.text AS cur_user_answer, questions.text AS question_text -->