
<div class="header-wrap group">

  <h1 class="header-logo">
    <a href="#">Ralph-Date</a>
  </h1>

  <nav class="header-nav">

<ul class="group">

  <% if logged_in? %>
    <li><%= link_to "Browse", profiles_url %></li>
    <li><a href="<%= random_questions_url %>" id="random-question-popup" data-remote="true">Quiz yourself!</a></li>

    <li><%= link_to "Random Match", random_profiles_url %></li>
    <li><%= link_to "Your questions", questions_url %></li>

    <li><%= link_to "Messages", messages_url %></li>

    <li><%= link_to "#{current_user.username}", edit_profile_url(current_user.profile.id) %></li>
    <li><%= link_to "Sign Out", session_url, method: :delete %></li>

    <li><% link_to "Your Messages", messages_url %></li>

  <% else %>
    <li><%= link_to "Sign In", new_session_url %></li>
    <li><%= link_to "Sign Up", new_user_url %></li>
    <li><a href="/auth/facebook">Facebook Sign In</a></li>
  <% end %>

</ul>
  </nav>
</div>

<div id="answer-question">
</div>

<script>
$(document).ready(function() {
  $('#random-question-popup').on('ajax:success', function(event, data) {

    $('#answer-question').html(data);
    $('#answer-question').addClass('is-unhidden');
  });

  $('#answer-question').on('ajax:success', function(event, data) {
    console.log("YAY");
    $('#answer-question').html(data);
  });

});


</script>