
<div class="header-wrap group">

  <h1 class="header-logo">
    <a href="#">Ralph-Date</a>
  </h1>

  <nav class="header-nav">

<ul class="group">

  <% if logged_in? %>
    <li><%= link_to "Browse", profiles_url %></li>
    <li><a href="<%= random_questions_url %>" id="random-question-popup" data-remote="true">Quiz yourself!</a></li>

    <li><%= link_to "RanMatch", random_profiles_url %></li>
    <li><%= link_to "old ?", questions_url %></li>

    <li><%= link_to "Msg", messages_url %></li>

    <li><%= link_to "#{current_user.username}", edit_profile_url(current_user.profile.id) %></li>

    <li id="notifications-block"><%= link_to current_user.new_notifications.count, read_notifications_url, remote: true, method: :put, id: "menu-notifications" %>
      <ul class="header-nav-drop-down">
        <%= render partial: "shared/notifications_menu", locals: {notes: current_user.new_notifications} %>
        <li><a href="#">See all notifications</a></li>
      </ul>
  <!-- a href="#" id="menu-notifications" --></a></li>


 <%#= link_to 'Kill Flea', [flea.dog, flea], :confirm => 'Sure?', :method => :delete %>
    <li><% link_to "Your Messages", messages_url %></li>
<li><%= link_to "Sign Out", session_url, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign In", new_session_url %></li>
    <li><%= link_to "Sign Up", new_user_url %></li>
    <li><a href="/auth/facebook">Facebook Sign In</a></li>
  <% end %>

</ul>
  </nav>
</div>

<div id="answer-question">
</div>

<script>
$(document).ready(function() {



  $('#menu-notifications').on('ajax:success', function(event, data) {
    $('#notifications-block').toggleClass("toggle-hide");
    $('#menu-notifications').html("0");
  });


  // on click of any links in menu-notificaitons, closes the window.

  $('#random-question-popup').on('ajax:success', function(event, data) {

    $('#answer-question').html(data);
    $('#answer-question').addClass('is-unhidden');
  });

  $('#answer-question').on('ajax:success', function(event, data) {
    console.log("YAY");
    $('#answer-question').html(data);
  });

});


</script>