
<div class="header-wrap group">

  <h1 class="header-logo">
    <a href="<%= status_messages_url %>" style="padding-top: 20px; padding-bottom: 20px">Ralph-Date</a>
  </h1>

  <nav class="header-nav">

<ul class="group">

  <% if logged_in? %>
  <li><%= link_to "Home", status_messages_url %></li>
    <li><%= link_to "Browse", profiles_url %></li>
    <li><a href="<%= random_questions_url %>" id="random-question-popup" data-remote="true">Questions</a></li>

    <li><%= link_to "Tinder", random_profiles_url %></li>

    <li><%= link_to "Messages", messages_url %></li>

    <li><%= link_to "Your Profile", profile_url(current_user.profile.id) %></li>

    <li id="notifications-block"><%= link_to current_user.new_notifications.count, read_notifications_url, remote: true, method: :put, id: "menu-notifications" %>
      <ul class="header-nav-drop-down">
        <%= render partial: "shared/notifications_menu", locals: {notes: current_user.new_notifications} %>
        <li><a href="<%= notifications_url %>">See all notifications</a></li>
      </ul>
  <!-- a href="#" id="menu-notifications" --></a></li>


 <%#= link_to 'Kill Flea', [flea.dog, flea], :confirm => 'Sure?', :method => :delete %>
    <li><% link_to "Your Messages", messages_url %></li>
<li><%= link_to "Log Out", session_url, method: :delete %></li>
  <% else %>

    <li><%= link_to "Sign Up", new_user_url %></li>
    <li><a href="/auth/facebook">Facebook Sign In</a></li>
  <% end %>

</ul>
  </nav>
</div>

<section class="modal">
   <article class="modal-box">
     <span class="modal-close-button">&times;</span>

     <!-- This is where you should insert your modal content -->
     <div id="modal-container">


       </div>


     </div>
   </article>
 </section>


 <style>
 .has-active-modal .modal {
   display: block;
 }

 .modal {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 200;
 }

 .modal:before {
   content: "";
   display: block;
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.5);
 }

 .modal-box {
   position: absolute;
   top: 50%;
   left: 50%;

   width: 400px;
   min-height: 200px;

   padding: 30px;

   margin-top: -300px;
   margin-left: -230px;

   background: #fff;
 }

 .modal-close-button {
   position: absolute;
   display: block;
   top: 0;
   right: 10px;
   font-size: 40px;
   line-height: 1.0;
   font-weight: bold;
   color: #999;
   cursor: pointer;
 }

 .modal-close-button:hover {
   color: #000;
 }
 </style>



<script>
$(document).ready(function() {

  window.modal = {
    show: function(){
      $("body").addClass("has-active-modal");
    },
    hide: function(){
      $("body").removeClass("has-active-modal");
    }
  };

  $('#menu-notifications').on('ajax:success', function(event, data) {
    $('#notifications-block').toggleClass("toggle-hide");
    $('#menu-notifications').html("0");
  });


  // on click of any links in menu-notificaitons, closes the window.

  $('#random-question-popup').on('ajax:success', function(event, data) {

    $('#modal-container').html(data);
    window.modal.show();
  });
  //from #answer-question


  $('#modal-container').on('ajax:send', '#answer-question-form', function(e) {
    $('#answer-question-form').html('Submitting!');
  });


  $('#modal-container').on('ajax:success', function(event, data) {

    if ($(event.target).is('form#answer-question-form')) {
      $('#modal-container').html("Question submitted!");
      setTimeout(
        function()
        {
          $('#modal-container').html(data);
        }, 1500);

    }
  });

  $(".modal").on("click", function(event){

    $target = $(event.target);
    console.log($target);

    if($target.is(".modal") || $target.is(".modal-close-button")){
      event.preventDefault();
      window.modal.hide();
    }
  });

});


</script>