<% notes.each do |note| %>
<% triggering_user = note.triggering_user if notes.first %>
  <li>

    <a href="<%= profile_url(triggering_user.profile) %>">
      <%= triggering_user.username %>
    </a>

    <% if note.status_type == 0 %>
      has matched with you. <a href="<%=
      profile_url(triggering_user.profile) %>">
      Check out <%= triggering_user.username %>'s profile!</a>
    <% else %>
      has sent you a
      <a href="<%= conversation_user_messages_url(note.trigger_id)%>">
        message.
      </a>
    <% end %>

  </li>
<% end %>
