<li class="object-item group">
  <% profile = Profile.find(status_message.p_id) %>
  <div class="object-avatar">
    <%= display_photo(profile, :avatar) %>
  </div>
  <section class="object-content">
    <a class="username" href="<%= profile_url(profile) %>">
      <%= status_message.username %>
    </a>
    <div class="status-body">
      <%= status_message.body %>

    </div>

    <div class="status-timestamp">
      <%= status_message.created_at %>
    </div>
  </section>
</li>