<style>
.has-active-modal .modal {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;
  min-height: 200px;

  padding: 30px;

  margin-top: -200px;
  margin-left: -230px;

  background: #fff;
}

.modal-close-button {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  font-size: 40px;
  line-height: 1.0;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #000;
}
</style>

<section class="modal">
   <article class="modal-box">
     <span class="modal-close-button">&times;</span>

     <!-- This is where you should insert your modal content -->
     <div id="modal-container">

       <% if question.nil? %>
       You've answered all the questions.

       <% else %>

       <div class="question-container">
       <form action="<%= question_answer_url(question) %>" id="answer-question-form" method="post" data-remote="true">
         <%= auth_token_input %>
         <%= question.text %><br>
         <% question.answer_choices.each_with_index do |answer_choice, i| %>
         <input type="hidden" name="response[question_id]" value="<%= question.id %>">
         <input type="radio" id="<%= "r#{i}" %>" name="response[answer_choice_id]" id="answer_answer_choice_id" value="<%= answer_choice.id %>"><label for="<%= "r#{i}" %>"><%= answer_choice.text %></label><br>
         <!-- need to add user_id and question_id -->
         <% end %>
         <br>
         What you prefer on match:
         <br>
         <% question.answer_choices.each_with_index do |answer_choice, index| %>
         <input type="checkbox" id="<%= "ar#{index}" %>" name="acceptable_response[<%= index %>][answer_choice_id]" value="<%= answer_choice.id %>"><label for="<%= "ar#{index}" %>"><%= answer_choice.text%></label><br>

         <% end %>

         <br>
       <div class="question-importance group">How important is this to you?
         <br>
         <!-- <input type="hidden" name="all_acceptable_response[question_id]" value="<%#= @random_question.id %>"> -->
         <input type="radio" id="imp_radio0" name="all_acceptable_response[importance]" value="0" checked><label for="imp_radio0" id="imp0" class="imp-pick">d</label><br>
         <input type="radio" id="imp_radio1" name="all_acceptable_response[importance]" value="1"><label for="imp_radio1" id="imp1" class="imp-pick"> d</label><br>
         <input type="radio" id="imp_radio10" name="all_acceptable_response[importance]" value="10"><label for="imp1_radio0" id="imp10" class="imp-pick">d</label><br>
         <input type="radio" id="imp_radio50" name="all_acceptable_response[importance]" value="50"><label for="imp5_radio0" id="imp50" class="imp-pick">d</label><br>
         <input type="radio" id="imp_radio250" name="all_acceptable_response[importance]" value="250"><label for="imp25_radio0" id="imp250" class="imp-pick">d</label><br>
       </div>

       <button>Get Value</button>
         <input type="Submit" value="Answer question">

       </form>
       </div>
       <% end %>

     </div>
   </article>
 </section>

  <a href="#" class="show-modal">click me!</a> c



  <script>

  $(document).ready(function(){

    window.modal = {
      show: function(){
        $("body").addClass("has-active-modal");
      },
      hide: function(){
        $("body").removeClass("has-active-modal");
      }
    };

    $("body").on("click", ".show-modal", function(event){
      event.preventDefault();
      window.modal.show();
    });

    $(".modal").on("click", function(event){

      $target = $(event.target);
      console.log($target);

      if($target.is(".modal") || $target.is(".modal-close-button")){
        event.preventDefault();
        window.modal.hide();
      }
    });
  });

  </script>