<!DOCTYPE html>
<html>
<head>
  <title>Flirtatiously</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <style>
    #draggable {
      width: 100px;
      height: 100px;
      background: #ccc;
    }
    </style>
  </head>
  <body>
  <header class="header">
    <%= render "shared/menu" %>
  </header>

  <header class="sec-header">
    <div class="sec-header-wrapper group">
      <%= yield :secondary_header %>
    </div>
  </header>

  <content>
    <%= flash[:errors] if flash[:errors] %> <%= flash[:success] if flash[:success] %>
    <div class="content-wrap group">
      <%= yield %>
    </div>
  </content>
  </body>
</html>
