<!DOCTYPE html>
<html>
  <head>
    <title>Flirtatiously</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= yield :head %>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <header class="header">
      <%= render "shared/menu" %>
    </header>

    <% if content_for?(:secondary_header) %>
    <header class="sec-header">
      <div class="sec-header-wrapper group">
        <%= yield :secondary_header %>
      </div>
    </header>
    <% end %>

    <script>
    $('document').ready(function() {
      $(window).bind('scroll', function () {
          if ($(window).scrollTop() > 60) {
              $('.sec-header').addClass('fixed-at-top');
          } else {
              $('.sec-header').removeClass('fixed-at-top');
          }
      });
    });
    </script>

    <content>
      <% if flash[:errors] || flash[:success] %>
        <div class="flash sig-message">
          <%= flash[:errors] if flash[:errors] %>
          <%= flash[:success] if flash[:success] %>
        </div>
      <% end %>


      <div class="content-wrap group">
        <%= yield %>
      </div>
    </content>

    <script>
      key('[', function(){
        $(document).ready(function() {
          $('#ratings-false').submit();
        });

      });
      key(']', function(){
        $(document).ready(function() {
          $('#ratings-true').submit();
        });
      });
    </script>

  </body>
</html>
